
.board{
  display: flex;                       
  flex-direction:column;  
  gap:10px;

}
.gridRow{
  justify-content: center;
  display:flex;
  gap:10px;
}
.card{
  padding:40px;
  border-radius:5px;
  background:grey;
}

